In [1]:
import pandas as pd

In [2]:
#import datasets for stocks being tracked 
apple = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Apple.csv')
facebook = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Facebook.csv')
google = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Google.csv')
nvidia = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Nvidia.csv')
tesla = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Tesla.csv')
twitter = pd.read_csv('/kaggle/input/stock-market-for-nasdaq/Twitter.csv')

In [3]:
apple.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume,MA50,MA200,Previous day close price,Change in price,Percent change in price,Previous day volume,Change in volume,Percent change in volume
0,0,1980-12-12,0.513393,0.515625,0.513393,0.513393,0.406782,117258400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1980-12-15,0.488839,0.488839,0.486607,0.486607,0.385558,43971200,NaN,NaN,0.513393,-0.026786,-0.052174,117258400.0,-73287200.0,-0.625006
2,2,1980-12-16,0.453125,0.453125,0.450893,0.450893,0.357260,26432000,NaN,NaN,0.486607,-0.035714,-0.073394,43971200.0,-17539200.0,-0.398879
3,3,1980-12-17,0.462054,0.464286,0.462054,0.462054,0.366103,21610400,NaN,NaN,0.450893,0.011161,0.024752,26432000.0,-4821600.0,-0.182415
4,4,1980-12-18,0.475446,0.477679,0.475446,0.475446,0.376715,18362400,NaN,NaN,0.462054,0.013393,0.028986,21610400.0,-3248000.0,-0.150298